<form #form="ngForm" [formGroup]="sectionForm" (ngSubmit)="submit()" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
      <app-image-picker #imgPicker [defaultImg]="sectionForm.get('imageURL').value || imgPicker.defaultImg"
        (fileChanged)="sectionForm.get('imageURL').setValue($event); sectionForm.get('imageURL').markAsDirty()">
      </app-image-picker>
      <small *ngIf="!section">You must upload an image</small>
    </div>
    <div fxFlex="64" fxLayout="column">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Name" autocomplete="off" formControlName="name">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around" *ngIf="form.dirty">
    <button mat-button type="button" (click)="resetForm(); cancel();">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!form.valid">{{editing ? 'Save' : 'Create'}}</button>
  </div>
</form>
