{{ receiver | json }}

<ul *ngIf="session">
  <li *ngFor="let message of session.messages">
    {{ message.sender == userId ? 'Ja:' : 'On:' }}{{ message.text }}
  </li>
</ul>

<form
  #msgForm="ngForm"
  (ngSubmit)="chatInput.value.trim() !== '' && sendMessage(receiverId)"
>
  <div fxFlex="80%">
    <textarea
      #chatInput
      id="inputValue"
      placeholder="Unesite poruku..."
      class="my-textarea"
      (keydown)="submitOnEnter($event)"
      [(ngModel)]="inputValue"
      name="inputValue"
    ></textarea>
  </div>
</form>
