<mat-tab-group>
  <mat-tab label="Friends">
    <h2 *ngIf="!friends.length">No friends</h2>
    <mat-list>
      <mat-list-item *ngFor="let friend of friends">
        <a class="content" [routerLink]="['/profile', friend._id]">
          <img [src]="friend.imageURL || 'assets/images/avatar.png'" />
          {{ friend.username }}
        </a>
        <button
          mat-icon-button
          [routerLink]="[]"
          [queryParams]="{ sessionId: getFriendship(friend._id).chatSessionId }"
        >
          <mat-icon>chat</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeFriend(friend._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-paginator
      [length]="friendsTotal"
      [pageSize]="DEFAULT_TAKE"
      (page)="changePage($event, getFriends)"
    >
    </mat-paginator>
  </mat-tab>
  <mat-tab label="Friends requests">
    <h2 *ngIf="!friendRequests.length">No pending friend requests</h2>
    <ng-container *ngIf="friendRequests.length">
      <mat-list>
        <mat-list-item *ngFor="let friendRequest of friendRequests">
          <a
            class="content"
            [routerLink]="['/profile', friendRequest.sender._id]"
          >
            <img
              [src]="
                friendRequest.sender.imageURL || 'assets/images/avatar.png'
              "
            />
            {{ friendRequest.sender.username }}
          </a>
          <span class="date">{{
            friendRequest.createdAt | date: 'short'
          }}</span>
          <button
            mat-icon-button
            color="primary"
            (click)="acceptFriendRequest(friendRequest._id)"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="denyFriendRequest(friendRequest._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
      <mat-paginator
        [length]="friendRequestsTotal"
        [pageSize]="DEFAULT_TAKE"
        (page)="changePage($event, getFriendRequests)"
      >
      </mat-paginator>
    </ng-container>
  </mat-tab>
  <mat-tab label="Sent pending requests">
    <h2 *ngIf="!sentRequests.length">
      There are no sent pending friend requests
    </h2>
    <ng-container *ngIf="sentRequests.length">
      <mat-list>
        <mat-list-item *ngFor="let request of sentRequests">
          <a class="content" [routerLink]="['/profile', request.receiver._id]">
            <img
              [src]="request.receiver.imageURL || 'assets/images/avatar.png'"
            />
            {{ request.receiver.username }}
          </a>
          <span class="date">{{ request.createdAt | date: 'short' }}</span>
          <button
            mat-icon-button
            color="warn"
            (click)="cancelFriendRequest(request._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <h2 *ngIf="!friends.length">No friends</h2>
      </mat-list>
      <mat-paginator
        [length]="sentRequestsTotal"
        [pageSize]="DEFAULT_TAKE"
        (page)="changePage($event, getSentRequests)"
      >
      </mat-paginator>
    </ng-container>
  </mat-tab>
</mat-tab-group>
