<div style="height: 100vh; background-color: #fafafa;" class="relative">
  <div class="app-title absolute-horizontal-center">Elektrijada</div>
  <mat-card
    class="absolute-full-center"
    style="width: 500px; min-height: 400px;"
    fxLayout="column"
    fxLayoutAlign="space-around"
  >
    <mat-card-header>
      <mat-card-title>
        Hello, start by logging in!
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field
          appearance="outline"
          class="block"
        >
          <mat-icon matSuffix>person</mat-icon>
          <input
            formControlName="username"
            matInput
            placeholder="Username"
            spellcheck="false"
            type="username"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="block">
          <mat-icon matSuffix>lock</mat-icon>
          <input
            formControlName="password"
            matInput
            placeholder="Password"
            spellcheck="false"
            type="password"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button [disabled]="!loginForm.valid" mat-raised-button color="primary">
          Login
        </button>
      </mat-card-actions>
    </form>
    <a routerLink="../register">Don't have acccount. Register.</a>
  </mat-card>
</div>
