<div class="container" fxLayout="row">
  <div *ngFor="let section of sections" fxFlex="0 0 25%">
    <mat-card
      [style.background-image]="'url(' + section.imageURL + ')'"
      class="section"
      [routerLink]="['/section', section._id]"
    >
      <mat-card-header>
        <mat-card-title>
          {{ section.name }}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="empty-state" *ngIf="!sections.length">
    There are currently no sections available
  </div>
</div>
