@import "../../../scss/settings";
.container {
  flex-flow: row wrap;
}

.section {
  margin: 6px 0;
}

.section:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.empty-state {
  margin: 32px auto 0;
  @include font-size(24px, 28px);
  color: gray;
}
