<form #form="ngForm" [formGroup]="userForm" (ngSubmit)="submit()" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <app-image-picker #imgPicker fxFlex="30" [defaultImg]="userForm.get('imageURL').value || imgPicker.defaultImg"
      (fileChanged)="userForm.patchValue({imageURL: $event})"></app-image-picker>
    <div fxFlex="64" fxLayout="column">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Name" autocomplete="off" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="E-mail" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" autocomplete="off" placeholder="Password" formControlName="password">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!form.valid">{{editing ? 'Save' : 'Create'}}</button>
  </div>
</form>
