<div class="container">
  <app-statistics></app-statistics>
  <app-entity-crud [title]="entity.title" *ngFor="let entity of entititesArray">
    <ng-container *ngFor="let item of entity.array">
      <ng-container
        *ngTemplateOutlet="panel; context: { title: item.name, data: item, template: entity.template, entityName: entity.name }">
      </ng-container>
    </ng-container>
    <ng-container *ngTemplateOutlet="addNew; context: { template: entity.template, entityName: entity.name }">
    </ng-container>
  </app-entity-crud>
</div>

<ng-template #panel let-item="title" let-template="template" let-data="data" let-entityName="entityName">
  <mat-expansion-panel #expansionPanel>
    <mat-expansion-panel-header>
      <mat-panel-title [style.align-items]="'center'">
        {{item}}
      </mat-panel-title>
      <mat-panel-description [style.justify-content]="'flex-end'">
        <button mat-icon-button [style.color]="'red'" (click)="$event.stopPropagation(); delete(entityName, data._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container
      *ngTemplateOutlet="template; context: { entity: data, entityName: entityName, panel: expansionPanel }">
    </ng-container>
  </mat-expansion-panel>
</ng-template>

<ng-template #addNew let-template="template" let-entityName="entityName">
  <div *ngIf="!entities[entityName].switch" fxLayout="row" fxLayoutAlign="center center" [style.padding]="'12px 0'">
    <button mat-raised-button color="primary" type="button"
      (click)="entities[entityName].switch = !entities[entityName].switch">Add
      new {{entityName}}</button>
  </div>

  <ng-container *ngTemplateOutlet="entities[entityName].switch && template; context: {entityName: entityName}">
  </ng-container>
</ng-template>

<ng-template #professorTemplate let-entity="entity" let-entityName="entityName" let-panel="panel">
  <app-professor (submitted)="addProfessor($event, entity ? true : false)"
    (finished)="entity ? panel.toggle() : entities[entityName].switch = !entities[entityName].switch" [user]="entity ||
    null">
  </app-professor>
</ng-template>

<ng-template #sectionTemplate let-entity="entity" let-entityName="entityName" let-panel="panel">
  <app-section (submitted)="addSection($event, entity ? true : false)"
    (finished)="entity ? panel.toggle() : entities[entityName].switch = !entities[entityName].switch"
    [section]="entity || null">
  </app-section>
</ng-template>


<ng-template #groupTemplate let-entity="entity" let-entityName="entityName" let-panel="panel">
  <app-groups (submitted)="saveGroup($event, entity ? true : false)"
    (finished)="entity ? panel.toggle() : entities[entityName].switch = !entities[entityName].switch"
    [group]="entity || null">
  </app-groups>
</ng-template>