@import '../../../../scss/settings';

:host {
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.25em;
  }
}

.user-option {
  display: flex;
  align-items: center;
  padding: 4px;

  mat-list-item & {
    flex: 1 1 100%;
  }

  ::ng-deep > img {
    @include list-item-avatar;
  }
}

.selected-users {
  margin-bottom: 12px;
  @include list-items;
}
