<div class="container">
  <h1>Profile</h1>
  <div fxLayout='row' fxLayoutGap="24px" fxLayoutALign="center center">
    <div fxFlex="30" [style.text-align]="'center'">
      <div>
        <app-image-picker [imgClasses]="'profile'" [defaultImg]="'assets/images/avatar.png'"
          (fileChanged)="userForm.patchValue({imageURL: $event})">
        </app-image-picker>
        <!-- <img src="assets/images/avatar.png" width="100%"> -->
        <small>Click on the image to change it</small>
        <button mat-raised-button color="primary" [style.margin]="'12px 0'">
          <mat-icon>person_add</mat-icon>&nbsp;Add Friend
        </button>
      </div>
    </div>
    <div fxFlex="70">
      <form [formGroup]="userForm">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>username</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput formControlName="username" type="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>User Role</mat-label>
          <mat-select>
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-raised-button type="button">Cancel
          </button>
          <button mat-raised-button color="primary">Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
