:host {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #e0e0e0;
  margin: 4px 0;
  border-radius: 6px;
  max-width: 90%;

  &.mine {
    align-self: flex-end;
  }

  &:not(.mine) {
    align-self: flex-start;
  }
}
