@import '../../../scss/settings';

mat-card {
  width: 60%;
  margin: 24px auto;
  padding: 24px;
}

.card-header {
  margin-bottom: 16px;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  width: calc(100% + 48px);
  padding: 12px 24px;
  margin-left: -24px;
  margin-top: -24px !important;
  background-color: whitesmoke;
}

.text {
  margin: 16px 0 !important;
  /* font-size: 14px; */
  font-weight: 200;
}

.date {
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  color: gray;
}

.comment {
  margin: 12px 0;
  @include font-size(14px, 16px);
  color: #212121;

  &__content {
    margin: 6px 0;
  }
}

.comment-avatar {
  border-radius: 50%;
  border: solid 1px lightgray;
}

.comment-owner {
  height: 40px;
  font-weight: bold;
  color: #212121;
  margin-bottom: 6px;
  background-color: whitesmoke;
  margin-top: -6px;
  width: calc(100% + 12px);
  margin-left: -6px;
  padding: 0px 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.comment-content {
  padding: 6px;
  border-radius: 6px;
  border: solid 1px lightgray;
  max-width: 80%;
  min-width: 60%;
}

.comment-img {
  max-width: calc(100% + 12px);
  max-height: 250px;
  margin-left: -6px;
  margin-right: -6px;
  cursor: pointer;
}

.comment-img-with-text {
  max-width: 100%;
  width: auto;
  align-self: center;
  border-radius: 6px;
  margin: 12px 0;
}

.content-both {
  display: flex;
  flex-direction: column;
}

.vertical-line {
  width: 2px;
  background-color: #212121;
}

.circle {
  width: 10px;
  border-radius: 50%;
  background-color: #212121;
}

.event-time {
  color: #212121;
  font-weight: bold;
}
