<div class="chat">
  <button
    [style.display]="isOpen ? 'none' : 'block'"
    mat-raised-button
    mat-icon-button
    color="primary"
    class="chat__balloon"
    (click)="open()"
  >
    <mat-icon>chat</mat-icon>
  </button>
  <div class="chat__content" *ngIf="isOpen" [@wipe]="isOpen">
    <header>
      <button *ngIf="session" mat-icon-button (click)="leaveSession()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>
        {{ !session ? 'Select a session' : session.name || getChatName() }}
      </h2>
      <button mat-icon-button (click)="minimizeSession()">
        <mat-icon class="adjust">minimize</mat-icon>
      </button>
    </header>
    <ng-container *ngIf="session">
      <main #msgContainer>
        <div class="chat__messages">
          <ng-container *ngIf="loadingMsgs">
            Loading messages..
          </ng-container>
          <ng-container *ngIf="session">
            <app-message
              *ngFor="let message of messages"
              [color]="!message.text ? 'primary' : 'default'"
              [isMine]="message.sender === userId"
            >
              <ng-container *ngIf="message.text">
                {{
                  message.sender == userId
                    ? 'Me'
                    : getUser(message.sender)?.username || 'Deleted'
                }}: {{ message.text }}
              </ng-container>
              <ng-container *ngIf="message.data as post">
                <ng-container [ngSwitch]="message.data.__t">
                  <div *ngSwitchCase="'TextPost'" class="post-msg">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.text }}</p>
                    <a
                      [routerLink]="['section', post.section]"
                      [fragment]="post._id"
                      >Go to post <mat-icon>arrow_forward</mat-icon></a
                    >
                  </div>
                  <div *ngSwitchCase="'EventPost'" class="event-msg">
                    <h2>Event: {{ post.title }}</h2>
                    <div class="duration">
                      <div class="start">
                        <span>{{ post.startsAt | date: 'short' }}</span>
                      </div>
                      <span fxFlex="1 1 100%"></span>
                      <div class="end">
                        <span> {{ post.endsAt | date: 'short' }}</span>
                      </div>
                    </div>
                    <p>{{ post.text }}</p>
                    <a
                      [routerLink]="['section', post.section]"
                      [fragment]="post._id"
                      >Go to post <mat-icon>arrow_forward</mat-icon></a
                    >
                  </div>
                </ng-container>
              </ng-container>
            </app-message>
          </ng-container>
        </div>
        <div class="empty-state">Say hello!</div>
      </main>
      <footer>
        <form [formGroup]="inputForm" (ngSubmit)="sendMessage(receiverId)">
          <app-chat-input
            formControlName="text"
            (enter)="sendMessage(receiverId)"
          ></app-chat-input>
          <div class="chat__actions">
            <button
              mat-icon-button
              color="primary"
              [disabled]="!inputForm.valid"
              type="submit"
            >
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </form>
      </footer>
    </ng-container>
    <app-all-sessions
      *ngIf="!session"
      (select)="loadSessionAndMessages($event)"
    ></app-all-sessions>
  </div>
</div>
