<div class="chat">
  <button
    [style.display]="isOpen ? 'none' : 'block'"
    mat-raised-button
    mat-icon-button
    color="primary"
    class="chat__balloon"
    (click)="isOpen = true"
  >
    <mat-icon>chat</mat-icon>
  </button>
  <div class="chat__content" *ngIf="isOpen" [@wipe]="isOpen">
    <header>
      <button *ngIf="session" mat-icon-button (click)="leaveSession()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2>{{ !session ? 'Select a session' : 'You are in session' }}</h2>
      <button mat-icon-button (click)="minimizeSession()">
        <mat-icon class="adjust">minimize</mat-icon>
      </button>
    </header>
    <ng-container *ngIf="session">
      <main #msgContainer>
        <div class="chat__messages">
          <ng-container *ngIf="loadingMsgs">
            Loading messages..
          </ng-container>
          <ng-container *ngIf="session">
            <app-message
              *ngFor="let message of messages"
              [isMine]="message.sender === userId"
            >
              {{
                message.sender == userId
                  ? 'Me'
                  : getUser(message.sender)?.username || 'Deleted'
              }}: {{ message.text }}
            </app-message>
          </ng-container>
        </div>
        <div class="empty-state">Say hello!</div>
      </main>
      <footer>
        <form [formGroup]="inputForm" (ngSubmit)="sendMessage(receiverId)">
          <app-chat-input
            formControlName="text"
            (enter)="sendMessage(receiverId)"
          ></app-chat-input>
          <div class="chat__actions">
            <button
              mat-icon-button
              color="primary"
              [disabled]="!inputForm.valid"
              type="submit"
            >
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </form>
      </footer>
    </ng-container>
    <app-all-sessions
      *ngIf="!session"
      (select)="loadSessionAndMessages($event)"
    ></app-all-sessions>
  </div>
</div>
